//variáveis de cores que serão usadas em todo o projeto

$primaryColor: #5E49FF;
$secondaryColor: #A38DFC;
$lightGreyColor: #F0F5FF;
$darkGreyColor: #575757;
$mediumGreyColor: #7C7786;
$errorColor: #FF7563;